<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="javascripts/index.js"></script>
  </head>
  <body>
    <h1>To Do List</h1>
    <% if (todos.length > 0){ %>
      <ul>
      <% todos.forEach((item,idx)=>{ %> 
        <li><%= item.todo %> - <%= (item.done)?"Done" : "Not Done"  %>
        <form action="/<%=idx%>?_method=DELETE" method="POST" style="display: inline;">
          <button type="submit">Delete</button>
        </form>
        </li>
      <% }) %> 
    </ul>
    <% } else { %>  
    <h3>There are no To Dos yet!</h3>
    <% } %> 
    
    <hr/>
    <form action="/" method="POST">
      <input name="todo" type="text" required validate/>
      <button type="submit">ADD TO DO</button>
    </form>
  </body>
</html>
